# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
.lock
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.classpath
.project
.settings
.tmproj
.metadata
.mylyn
.plugins
.recommenders
nbproject
Thumbs.db
RemoteSystemsTempFiles/


*/target/

/*.bak

/target/
